<mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="relationsForm">
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Relation Types</mat-label>
        <mat-select formControlName="relationTypes" multiple>
            <mat-option *ngFor="let relationType of relationTypes" [value]="relationType">
                {{relationType}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
<div #chart class="chart-container"></div>