.chart-container {
    width: 100%;
    margin: 0 auto;
    height:  100%;
}

.full-width-adaptive {
    width: 100%;
    max-width: 500px;
}

.gojsDiv {
    width: 100%;
    margin: 0 auto;
    height:  100%;
  }