<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Secret for reading</mat-label>
        <input matInput formControlName="secretRead">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Secret for writing</mat-label>
        <input matInput formControlName="secretWrite">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Special Rights</mat-label>
        <input matInput formControlName="specialRights">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Resulting Url</mat-label>
        <input readonly matInput [value]="url">
    </mat-form-field>
    <button mat-raised-button color="primary" [cdkCopyToClipboard]="url">Copy Url</button>
</form>
<mat-divider></mat-divider>
<a _ngcontent-apu-c48="" mat-button="" href="https://github.com/mvolkert/dancing-moves" aria-label="GitHub Repository" class="mat-focus-indicator docs-button docs-navbar-hide-small mat-button mat-button-base" tabindex="0" aria-disabled="false"><span class="mat-button-wrapper"><img _ngcontent-apu-c48="" src="assets/github-circle-white-transparent.svg"> GitHub </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span class="mat-button-focus-overlay"></span></a>