<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Secret for reading</mat-label>
        <input matInput formControlName="secretRead">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Secret for writing</mat-label>
        <input matInput formControlName="secretWrite">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Special Rights</mat-label>
        <input matInput formControlName="specialRights">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Resulting Url</mat-label>
        <input readonly matInput [value]="url">
    </mat-form-field>
    <button mat-raised-button color="primary" [cdkCopyToClipboard]="url">Copy Url</button>
</form>
<mat-divider></mat-divider>
<a mat-raised-button href="https://github.com/mvolkert/dancing-moves"><img
        src="assets/github-circle-white-transparent.svg"> GitHub</a>
<a mat-raised-button href="https://doodle.com/poll/eetiy8nmtsfy7qic?utm_source=poll&utm_medium=link">Vote for new
    Features</a>
<span id="google_button">login to Google</span>