<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pages
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a mat-list-item (click)="navigate('dances')">Dances</a>
        <a mat-list-item (click)="navigate('courses')">Courses</a>
        <a mat-list-item (click)="navigate('moves')">Dancing Moves</a>
        <a mat-list-item (click)="navigate('relations')">Relations</a>
        <a mat-list-item (click)="navigate('settings')">Settings</a>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Dance Move Selection
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-dance-move-selection></app-dance-move-selection>
      </mat-expansion-panel>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Relations Selection
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-relations-selection></app-relations-selection>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="headline">{{headline}}</span>
      <span class="spacer"></span>
      <button *ngIf="false" mat-mini-fab color="primary" aria-label="normalize" (click)="normalize()">
        <mat-icon>list</mat-icon>
      </button>
      <button *ngIf="!readonly" mat-mini-fab color="primary" aria-label="create new move">
        <mat-icon (click)="navigate('move/new')">add_circle_outline</mat-icon>
      </button>
      <button mat-mini-fab color="primary" aria-label="sync data">
        <mat-icon (click)="syncData()">cached</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>