<mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
<form *ngIf="loaded||move" [formGroup]="moveForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="moveForm.get('name')?.hasError('nameExists') && !moveForm.get('name')?.hasError('required')">
            Name must be unique
        </mat-error>
        <mat-error *ngIf="moveForm.get('name')?.hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Dance</mat-label>
        <mat-select formControlName="dance">
            <mat-option *ngFor="let dance of dances" [value]="dance">{{dance}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Order</mat-label>
        <input type="number" matInput formControlName="order">
    </mat-form-field>
    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Count</mat-label>
        <input type="number" matInput formControlName="count">
    </mat-form-field>
    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="nameVerified" class="half-width">Name Verified</mat-checkbox>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Start Move</mat-label>
        <mat-select formControlName="startMove" multiple>
            <mat-option *ngFor="let name of danceMovesNames" [value]="name">
                {{name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>End Move</mat-label>
        <mat-select formControlName="endMove" multiple>
            <mat-option *ngFor="let name of danceMovesNames" [value]="name">
                {{name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Related Moves</mat-label>
        <mat-select formControlName="relatedMoves" multiple>
            <mat-option *ngFor="let name of danceMovesNames" [value]="name">
                {{name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Related Moves Other Dances</mat-label>
        <mat-select formControlName="relatedMovesOtherDances" multiple>
            <mat-optgroup *ngFor="let group of movesGroup" [label]="group.dance">
                <mat-option *ngFor="let name of group.names" [value]="name">
                    {{name}}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!readonly" appearance="fill" class="full-width-adaptive">
        <mat-label>ToDo</mat-label>
        <input matInput formControlName="toDo">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>links</mat-label>
        <input matInput formControlName="links">
    </mat-form-field>
    <div formArrayName="courseDates">
        <div *ngFor="let courseDate of getCourseDateControls(); let i = index" [formGroupName]="i" class="full-width">
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Course {{i}}</mat-label>
                <mat-select formControlName="course">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let course of courseNames" [value]="course">{{course}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="half-width">
                <mat-label>Date {{i}}</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <button *ngIf="!readonly" mat-icon-button color="primary" type=button aria-label="Add"
            (click)="addCourseDateForm()" matTooltip="Add Course Date">
            <mat-icon>add_circle_outline</mat-icon>Add Course Date
        </button>
    </div>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>videoname</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
            formControlName="videoname">
    </mat-form-field>
   
    <mat-form-field *ngIf="!readonly">
        <mat-label>the field that nobody sees</mat-label>
        <textarea></textarea>
    </mat-form-field>
    <mat-form-field *ngIf="!readonly" appearance="fill" class="full-width">
        <mat-label>Description</mat-label>
        <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="100" matInput
            formControlName="description"></textarea>
    </mat-form-field>
    <div markdown [data]="moveForm.value.description">
    </div>
    <button *ngIf="!readonly" mat-raised-button color="primary" type="submit"
        [disabled]="moveForm.invalid">Save</button>
</form>