.full-width {
    width: 100%;
}

.full-width-adaptive {
    width: 100%;
    max-width: 500px;
}

.half-width {
    width: 50%;
    max-width: 250px;
}

.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
    color: rgb(255, 255, 255);
}

.mat-select-disabled ::ng-deep .mat-select-value {
    color: rgb(255, 255, 255);
}