<mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
<ng-container *ngFor="let course of courses">
  <mat-card>
    <mat-card-title>{{course.course}}</mat-card-title>
    <mat-card-subtitle>{{course.school}}</mat-card-subtitle>
    <mat-card-content>
      <div>Dances: {{course.dances}}</div>
      <div>Teacher: {{course.teacher}}</div>
      <div>Level: {{course.level}}</div>
      <div *ngIf="course.start">Start Date: {{course.start | date: 'dd.MM.yyyy'}}</div>
      <div *ngIf="course.end">End Date: {{course.end | date: 'dd.MM.yyyy'}}</div>
      <mat-expansion-panel hideToggle *ngIf="course.description">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="description" markdown [data]="course.description">
        </div>
      </mat-expansion-panel>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="openDetails(course.course)">Details</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
</ng-container>