<mat-progress-bar *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>
<form *ngIf="loaded||course" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Name</mat-label>
        <input matInput formControlName="course">
        <mat-error *ngIf="courseForm.get('course')?.hasError('nameExists') && !courseForm.get('course')?.hasError('required')">
            Name must be unique
        </mat-error>
        <mat-error *ngIf="courseForm.get('course')?.hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Dances</mat-label>
        <mat-select formControlName="dances" multiple>
            <mat-option *ngFor="let name of dances" [value]="name">
                {{name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>School</mat-label>
        <input type="text" matInput formControlName="school" [matAutocomplete]="autoSchool">
        <mat-autocomplete #autoSchool="matAutocomplete">
            <mat-option *ngFor="let school of schools" [value]="school">{{school}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Teacher</mat-label>
        <input matInput formControlName="teacher">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Level</mat-label>
        <input type="text" matInput formControlName="level" [matAutocomplete]="autoLevel">
        <mat-autocomplete #autoLevel="matAutocomplete">
            <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Start</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="start">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>End</mat-label>
        <input matInput [matDatepicker]="pickerEnd" formControlName="end">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width-adaptive">
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>
    <button *ngIf="!readonly" mat-raised-button color="primary" type="submit"
        [disabled]="courseForm.invalid">Save</button>
</form>
