<form [formGroup]="searchForm">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Dance</mat-label>
        <mat-select formControlName="dance">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let dance of dances" [value]="dance">{{dance}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="move" [matAutocomplete]="autoGroup"
            matAutocompletePosition="below">
        <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let group of movesGroupOptions | async" [label]="group.dance">
                <mat-option *ngFor="let move of group.moves" [value]="move.name">
                    {{move.name}}
                </mat-option>
            </mat-optgroup>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Courses</mat-label>
        <mat-select formControlName="courses" multiple>
            <mat-option *ngFor="let course of courseNames" [value]="course">{{course}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Course not included</mat-label>
        <mat-select formControlName="notcourse">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let course of courseNames" [value]="course">{{course}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let type of types" [value]="type">{{type}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Related To</mat-label>
        <input type="text" matInput formControlName="related" [matAutocomplete]="autoGroup2"
            matAutocompletePosition="below">
        <mat-autocomplete #autoGroup2="matAutocomplete">
            <mat-optgroup *ngFor="let group of movesGroupOptions2 | async" [label]="group.dance">
                <mat-option *ngFor="let move of group.moves" [value]="move.name">
                    {{move.name}}
                </mat-option>
            </mat-optgroup>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field *ngIf="isAdmin" appearance="fill" class="full-width">
        <mat-label>ToDo</mat-label>
        <input type="text" matInput formControlName="todo">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Script</mat-label>
        <input type="text" matInput formControlName="script" [matAutocomplete]="autoCodeSnippets"
            matAutocompletePosition="below">
        <mat-autocomplete #autoCodeSnippets="matAutocomplete">
            <mat-option *ngFor="let snippet of codeSnippets | async" [value]="snippet">{{snippet}}</mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>Sorting</mat-label>
        <mat-chip-list #chipList aria-label="sort selection">
            <mat-chip *ngFor="let sortKey of searchForm.value.sort" (removed)="remove(sortKey)">
                {{sortKey}}
                <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip>
            <input placeholder="add sort key" #sortInput [formControl]="sortControl" [matAutocomplete]="autoSortKey"
                [matChipInputFor]="chipList" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #autoSortKey="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let sortKey of sortKeysAll" [value]="sortKey">
                {{sortKey}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>