<mat-card>
  <mat-card-title>{{moveDto.name}}</mat-card-title>
  <mat-card-subtitle>{{moveDto.dance}} {{moveDto.type}}</mat-card-subtitle>
  <mat-card-content>
    <div *ngFor="let courseDate of moveDto.courseDates">
      <span *ngIf="isDateValid(courseDate)">{{courseDate.date | date: 'dd.MM.yyyy'}}&nbsp;</span>
      <span>{{courseDate.course}}</span>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="openDetails()">Details</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
